:root {
  --main-header-height: 80px;
  --navigation-height: 60px;
  --frame-border-width: 8px;
  --content-top-padding: 24px;
}

.App {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.body {
  background-image: url("%PUBLIC_URL%/assets/rocks.jpeg");
  font-family: 'PT Sans', sans-serif !important;
}

.flex { display: flex; }
.f-center { justify-content: center; align-items: center;}
.f-vcenter { align-self: center;}
.f-around { justify-content: space-around; }
.f-wrap { flex-wrap: wrap !important; }
.mt-lg { margin-top: 48px; }
.mb-lg { margin-bottom: 48px; }
.mt-n {margin-top: 0;}
.ml-n {margin-left: 0;}
.mr-0 {margin-right: 0;}
.h100 {height: 100%;}
h1, h2, h3, h4, h5, h6 { font-family: "Oleo Script", sans-serif; }
strong {font-weight: bold;}

.frame {
  border: var(--frame-border-width) solid #558b2f;
  border-radius: 16px;
  margin: 5vh auto;
  height: 90vh;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.5);
}

.line {
  height: 4px;
  border-radius: 4px;
  width: 100%;
}

.navigation, .page-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: "Fugaz One", sans-serif;
}

.navigation-sub {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: var(--navigation-height);
  font-weight: normal;
  align-self: center;
  align-items: center;
}

.navigation-sub .item, .sidenav-trigger {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.sidenav-trigger {
  display: none;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.navigation-sub .item:hover {
  background: #689f38;
  color: white;
}

.page-header {
  box-shadow: 0 8px 6px -6px black;
  z-index: 10;
  height: var(--main-header-height);
}

.page-header h2 {
  margin: 0; 
  padding: 16px; 
  font-size: 46px;
  color: white;
  font-weight: bold;
}

.content {
  background-color: white;
  overflow-y: scroll;
  background-color: white;
  height: calc(90vh - var(--main-header-height) - var(--navigation-height) - var(--content-top-padding) + var(--frame-border-width));
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: var(--content-top-padding);
}

.btn-project {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
  margin: 4px 16px;
  font-size: 16px;
}

.mini-projects {
  border: 2px solid #558b2f;
  border-radius: 8px;
  margin: 16px auto;
  max-width: 600px;
  min-width: 200px;
  max-height: 600px;
  min-height: 200px;
  padding: 16px;
}

.about-img {
  width: 100%;
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.spreadsheet-frame {
  min-width: 320px;
  width: 90%;
  height: 60vh;
}

.spreadsheet-img {
  min-width: 320px;
  height: 60vh;
  width: auto;
}

.content-message {
  max-width: 500px;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px;
}

.big-font {
  font-size: 24px;
  border: 2px solid;
  border-radius: 8px;
  padding: 8px;
}

.big-font strong {
  font-weight: bold;
  font-size: 32px;
  text-decoration: underline;
}

.about-fun-fact {
  font-size: 16px;
  border: 2px solid #558b2f;
  border-radius: 8px;
  padding: 0;
  margin-top: 16px;
}

.fun-fact-header {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
}

.fun-fact-content {
  margin: 0;
  padding: 8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.circle {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.contact-icon {
  width: 100px;
  height: 100px;
  color: white;
}

.circle:hover {
  background: #c5e1a5 !important; 
}

.circle:hover .contact-icon {
  color: #689f38;
}

.sheet-subheading, .contact-type h4 {
  font-family: "Fugaz One", sans-serif;
}

.sidenav-trigger {
  display: none;
}

.resume-left {
  text-align: left;
  margin: 8px;
}

h5 {text-decoration: underline; margin-top: 0;}

.website-link {
  text-decoration: underline;
  color: #33691e;
}

.resume-img {
  max-height: 200px;
  margin-left: 24px;
  margin-right: 24px;
}

.resume-list {
  list-style-type: circle;
  list-style-position: inside;
}

.resume-list li {
  text-align: left;
  list-style-type: circle;
  list-style-position: inside;
}

.resume-sec .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.f-right {
  float: right;
}

.section {
  max-width: 800px;
  display: block;
  min-width: 60%;
}

.mobile-content {
  display: none;
  font-size: 24px;
}



@media (max-width: 576px) {
  .sidenav-trigger {
    display: flex;
  }
  
  .navigation-sub .item {
    display: none;
  }

  .page-header h2 {font-size: 24px;}

  

  .mobile-content {
    display: block;
    padding: 24px;
  }

  .main-content {
    display: none;
  }
}

@media (max-width: 768px) {
  .App {
    max-width: 90%;
  }

  .resume-sec .row {
    flex-wrap: wrap;
  }

  .page-header h2 {
    font-size: 24px !important;
  }

  .resume-sec .row {
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .spreadsheets-main .row {
    display: flex;
    flex-direction: column;
  }

  .circle {
    width: 100px;
    height: 100px;
    margin: 24px;
    margin-top: 0;
  }

  .contact-icon {
    width: 50px;
    height: 50px;
  }

  .contact-type h4 {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .App {
    max-width: 90%;
  }

  .page-header h2 {
    font-size: 32px;
  }

  .navigation-sub .item {
    font-size: 16px;
  }
}

@media (max-height: 500px) {
  .sheet-sec {
    display: none;
  }
}
